.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.terraform.lock.hcl
.terragrunt-cache/
*.json
.vscode/
.idea/
.DS_Store
Thumbs.db
*~
**/.terragrunt-cache/
**/.terraform/
terraform.tfstate*

images/demo.mp4
